<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
    
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>appicon1</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon1</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon2</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon2</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon3</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon3</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon4</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon4</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon5</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon6</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon6</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon7</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon7</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon8</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon8</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon9</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon9</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon10</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon10</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon11</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon11</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon12</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon12</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon13</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon13</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon14</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon14</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon15</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon15</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon16</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon16</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon17</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon17</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon18</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon18</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon19</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon19</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon20</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon20</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon21</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon21</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon22</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon22</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon23</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon23</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon24</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon24</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon25</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon25</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon26</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon26</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon27</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon27</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon28</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon28</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon29</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon29</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon30</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon30</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>appicon31</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>appicon31</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
        <key>UINewsstandIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>appicon</string>
            </array>
            <key>UINewsstandBindingEdge</key>
            <string>UINewsstandBindingEdgeBottom</string>
            <key>UINewsstandBindingType</key>
            <string>UINewsstandBindingTypeMagazine</string>
        </dict>
    </dict>
    
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
